n8n-workflows/wf-pncp-auto-sync.json
{
  "name": "PERFORMANCE PREGAO - PNCP Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 4 }]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://pncp.gov.br/api/consulta/v1/contratacoes/proposta",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dataInicial",
              "value": "={{ $now.minus(1, 'day').toFormat('yyyyMMdd') }}"
            },
            {
              "name": "dataFinal",
              "value": "={{ $now.toFormat('yyyyMMdd') }}"
            },
            {
              "name": "pagina",
              "value": "1"
            },
            {
              "name": "tamanhoPagina",
              "value": "50"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "name": "PNCP - Propostas Abertas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://pncp.gov.br/api/consulta/v1/contratacoes/publicacao",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dataInicial",
              "value": "={{ $now.minus(1, 'day').toFormat('yyyyMMdd') }}"
            },
            {
              "name": "dataFinal",
              "value": "={{ $now.toFormat('yyyyMMdd') }}"
            },
            {
              "name": "pagina",
              "value": "1"
            },
            {
              "name": "tamanhoPagina",
              "value": "50"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "name": "PNCP - Publicacoes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 480]
    },
    {
      "parameters": {
        "jsCode": "// Merge both responses\nconst propostas = $('PNCP - Propostas Abertas').all();\nconst publicacoes = $('PNCP - Publicacoes').all();\n\nfunction extractItems(items) {\n  const result = [];\n  for (const item of items) {\n    const body = item.json;\n    const rows = body.data ?? body.contratacoes ?? [];\n    for (const row of rows) {\n      result.push({\n        externalId: row.numeroControlePNCP || row.numeroCompra || String(row.id || ''),\n        title: row.objetoCompra || row.descricao || 'Sem título',\n        organ: (row.orgaoEntidade && row.orgaoEntidade.razaoSocial) || row.orgao || 'Órgão não informado',\n        state: (row.unidadeOrgao && row.unidadeOrgao.ufSigla) || row.uf || null,\n        city: (row.unidadeOrgao && row.unidadeOrgao.municipioNome) || row.municipio || null,\n        modality: row.modalidadeNome || row.modalidade || 'Não informado',\n        estimatedValue: row.valorTotalEstimado ? parseFloat(row.valorTotalEstimado) : null,\n        openingDate: row.dataAberturaProposta || null,\n        pdfUrl: row.linkSistemaOrigem || null,\n        status: 'OPEN',\n        source: 'PNCP'\n      });\n    }\n  }\n  return result;\n}\n\nconst allItems = [...extractItems(propostas), ...extractItems(publicacoes)];\n\n// Deduplicate by externalId\nconst seen = new Set();\nconst deduped = allItems.filter(item => {\n  if (!item.externalId || seen.has(item.externalId)) return false;\n  seen.add(item.externalId);\n  return true;\n});\n\nconsole.log(`Processed ${deduped.length} unique biddings`);\n\nreturn deduped.map(item => ({ json: item }));"
      },
      "name": "Transform + Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 390]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.performancepregao.online/api/n8n-receiver",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "perf-n8n-secret-2024-ultra-secure-webhook-key!!"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 30000
        }
      },
      "name": "POST to n8n-receiver",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [940, 390]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[
        { "node": "PNCP - Propostas Abertas", "type": "main", "index": 0 },
        { "node": "PNCP - Publicacoes", "type": "main", "index": 0 }
      ]]
    },
    "PNCP - Propostas Abertas": {
      "main": [[{ "node": "Transform + Deduplicate", "type": "main", "index": 0 }]]
    },
    "PNCP - Publicacoes": {
      "main": [[{ "node": "Transform + Deduplicate", "type": "main", "index": 1 }]]
    },
    "Transform + Deduplicate": {
      "main": [[{ "node": "POST to n8n-receiver", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["pncp", "licitacoes", "sync"]
}
